{% extends 'base.html' %}

{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Edit Banner</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Edit Banner</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group" id="currentImageContainer">
                {% if banner.banner_image %}
                    <label>Current Image:</label>
                    <img src="{{ banner.banner_image.url }}" alt="Current Banner Image" style="max-width: 300px;">
                {% endif %}
            </div>
            
            <div class="form-group">
                <label for="banner_image"> Banner Image:</label>
                <input type="file" class="form-control-file" name="banner_image" id="banner_image" accept="image/*">
            </div>
            
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" class="form-control" name="title" id="title" value="{{ banner.title }}">
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" name="description" id="description">{{ banner.description }}</textarea>
            </div>
            <div class="form-group">
                <label for="description">Address:</label>
                <textarea class="form-control" name="address" id="address">{{ banner.address }}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
        <br>
        <a href="{% url 'banner_footer_list' %}" class="btn btn-secondary">Cancel</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>


{% endblock %}